@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron">
                <h1 class="display-3">Welcome to WasteSpace!</h1>
                <h4 class="lead">We're here to disrupt garbage collection service as you know it. Prepare to be amazed!</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="~/street-cleaning-with-garbage-truck-sweepers_107791-2669.jpg" alt="garbage-truck" />
            
        </div>
    </div>
</div>


